@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap");


* {
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

.App {
  max-width: 85%;
  margin: auto;
  margin-top: 150px;
}

.double-mango {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.small-chart-area {
  min-height: 150px;
  width: 40%;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
}

